{
 "extends": ["stylelint-config-recommended-scss"],
 "rules": {
    "color-no-hex": true,
    "declaration-no-important": true,
    "selector-class-pattern": "^[a-z0-9\\-]+(__[a-z0-9\\-]+)?(--[a-z0-9\\-]+)?$",
    "max-nesting-depth": 3
 }
}