body {
    font-family: $font-stack;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .main-content {
    text-align: center;

    &__text {
        max-width: 1100px;
        margin: 0 auto;
        text-align: left;
    }
  }

  h1 {
    color: $h-color;
  }

  @media (max-width: 768px) {
    .main-content__text {
      max-width: 100%; 
    }
  }