<nav class="nav">
  <button class="nav__toggle" aria-label="Toggle menu">
    <i class="fas fa-bars"></i>
  </button>
    <ul class="nav__list">
      <li class="nav__item"><a href="#catedral">Catedral y la Giralda</a></li>
      <li class="nav__item"><a href="#alcazar">Real Alcázar</a></li>
      <li class="nav__item"><a href="#santa-cruz">Barrio de Santa Cruz</a></li>
      <li class="nav__item"><a href="#torre-del-oro">Torre del Oro</a></li>
      <li class="nav__item"><a href="#plaza-espana">Plaza de España</a></li>
      <li class="nav__item"><a href="#guadalquivir">Paseo por el Guadalquivir</a></li>
      <li class="nav__item"><a href="#triana">Triana</a></li>
    </ul>
</nav>